* {
  padding : 20px ;
  margin : 20px ; 
  box-sizing : border-box ;
  margin : 20px ;
  padding : 0 ;
  box-sizing : border-box ;
  background-color : red ;
  outline : 1px solid black ;
  border : 1px solid blue
}
